.hero{
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-image: url(https://img.freepik.com/free-psd/white-ceramic-mug-mockup-isolated_176382-1068.jpg?w=2000);
  background-position: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 100%;
  max-width: 1150px;
}
.back{
  justify-content: center;
  align-items: center;
  background-image: url(https://anthembrand.s3.amazonaws.com/image/AB%20ID%2017-3%20-%20Personalized%20Chipotle%20Items.webp);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.izquierdad {
  float: left;
  text-align: left;

}

.img {
  float: right;
  text-align: right;
}



.title-front-page {
  font-size: 3rem;
  font-weight: 600;
  color: #00050c;
}

.direction {
  font-size: 1.2rem;
  color: rgb(0, 70, 117);
  font-weight: 500;
}

.img-tienda {
  height: 400px;
  width: 500px;
}


.line,
.line-color {
  border: 3px solid #074796 !important;
  margin: auto;
  width: 100%;
  color: #000 !important;
}

.text2 {
  font-size: 20px;
  line-height: 1.5;
}


.fa-laptop {
  text-align: left;
  color: rgb(255, 255, 255);
}

@media (max-width: 950px) {
  .hero {
    padding: 0px !important;
  }
  .title-front-page {
    font-size: 2rem;
  }

  .direction {
    font-size: 1rem;
  }

  .text2 {
    font-size: 1rem;
  }

  .boton {
    font-size: 1rem;
    padding: 10px 16px;
  }

  .img-tienda {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 1rem;
  }

  .center-mob,
  .fa-laptop {
    text-align: center !important;
  }

  .hero {
    padding-bottom: 0px;

  }
  .izquierdad {
    float: center;
    text-align: center;
  }

}

.fa-solid {
  width: 80px;
}

.action-one {
  color: rgb(221, 221, 221);
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem;
  justify-content: space-between;
  gap: 1rem;
}


/*Contenedores*/
.action-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.action-icon {
  font-size: 30px;
  color: black;
  border-radius: 50px;
  background: white;
}


.action-info-text:first-child {
  text-align: right;
}

.action-info-text h2 {
  font-size: 26px;
  font-weight: 700;
}

.action-info-text p {
  font-size: 18px;
}



/*General*/
.categories-home {
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.categories-box-btn {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 700;
}


.categories-home h2 {
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #000000;
  margin: 0px !important ;
}

.categories-home hr {
  border: 3px solid black;
  width: 300px;
  margin: 20px auto;
}

/* Targets */
.categories-links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


/* Targets IMG */
.categories-box-img {
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 200px;
}

/* Targets TEXT*/
.categories-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  box-shadow: 0 2px 10px 2px #00000010;
  padding: 10px;
  border-radius: 30px;

}

.categories-box {
  height: 100%;
  background-color: #ECECEC;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-box-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categories-box-btn {
  margin-top: auto;
}

.categories-box-text i {
  font-size: 35px;
  color: black;
}

.categories-box-text h3 {
  margin-top: 10px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
  
}

.categories-box-text ul li {
  margin: 5px 0;
  text-align: center;

}

/* Targets BTN*/


.categories-box-btn.house {
  background: linear-gradient(90deg, #44A08D 0%, #093637 100%);
  text-decoration: none;

}

.categories-box-btn.tech {
  background: linear-gradient(90deg, #279147 0%, #bb7e28 100%);
  text-decoration: none;

}

.categories-box-btn.pets {
  background: linear-gradient(90deg, #605f9b 0%, #b37383 100%);
  text-decoration: none;

}

.categories-box-btn.beauty {
  background: linear-gradient(90deg, #740404 0%, #da9226 100%);
  text-decoration: none;

}

.prinic {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.img-productos-prev {
  width: 100%;
  height: 200PX;
}

/*MEDIA QUIERES*/
@media (max-width: 992px) {
  .action-one {
    flex-direction: column;
  }

  .action-info {
    flex-direction: column;
    text-align: center;
  }

  .action-info-text p {
    margin-top: 20px;
  }

  .action-info-text:first-child {
    order: 1;
    text-align: center;

  }
}

.categories-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.categories-box {
  width: 100%;
}

@media (max-width: 768px) {
  .categories-links {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 767px) {
  .container.front-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .izquierdad {
    grid-column: 1;
    text-align: center;
  }
}

.categories-home {
  text-align: center;
}

.img-productos-prev {
  max-width: 100%;
}

.text-catalago {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  margin-top: 10px;
}

.boton-catalago {
  flex-direction: row;
  display: flex;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  background: #ab2c2c;
  border-radius: 38px;
  text-align: center;
  justify-content: center;
  text-decoration: none;

}

.boton-catalago:hover {
  background-color: #ff3e3e;
  color: white;
}