.hero {
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.title-front-page {
  font-size: 3rem;
  font-weight: bold;
  color: #0F3460;
}
.direction {
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}
.img-tienda{
  height: 550px;
}
.line {
  border: 1px solid #0F3460;
  margin: auto;
  width: 100%;
}

.text2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  line-height: 1.5;
}
.boton {
  background-color: #634000;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.boton:hover {
  background-color: #e09f62;
}
@media (max-width: 767px) {
  .title-front-page {
    font-size: 2.5rem;
  }
  .direction {
    font-size: 1rem;
  }
  .text2 {
    font-size: 1rem;
  }
  .boton {
    font-size: 1rem;
    padding: 10px 16px;
  }
  .img-tienda{
    display: flex;
    width: 100%;
    margin-top: 1rem;
  }
}

.fa-solid {
  width: 80px;
}

.action-one {
  color: rgb(0, 0, 0);
  background: rgb(255, 186, 106);
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Contenedores*/
.action-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.action-icon {
  font-size: 30px;
  color: black;
  border-radius: 50px;
  background: white;
}


.action-info-text:first-child {
  text-align: right;
}

.action-info-text h2 {
  font-size: 26px;
  font-weight: 700;
}

.action-info-text p {
  font-size: 18px;
  padding-top: 5px;
}



/*General*/
.categories-home {
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.categories-home h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #000000;
}

.categories-home hr {
  border: 3px solid black;
  width: 300px;
  margin: 20px auto;
}

/* Targets */
.categories-links {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
}

.categories-box {
  width: 220px;
  height: 500px;
  margin: 0 10px;
  background-color: #ECECEC;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Targets IMG */
.categories-box-img {
  background-color: black;
  background-position: center;
  background-size: cover;
  height: 200px;
}

/* Targets TEXT*/
.categories-box-text {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.categories-box-text i {
  font-size: 35px;
  color: black;
}

.categories-box-text h3 {
  margin-top: 10px;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.categories-box-text ul li {
  margin: 5px 0;
  text-align: center;

}

/* Targets BTN*/
.categories-box-btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 700;
}

.categories-box-btn.house {
  background: linear-gradient(90deg, #44A08D 0%, #093637 100%);
}

.categories-box-btn.tech {
  background: linear-gradient(90deg, #FF5F6D 0%, #FFC371 100%);
}

.categories-box-btn.pets {
  background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
}

.categories-box-btn.beauty {
  background: linear-gradient(90deg, #314755 0%, #26A0DA 100%);
}

.img-productos-prev {
  width: 100%;
  height: 200PX;
}

/*MEDIA QUIERES*/
@media (max-width: 992px) {
  .action-one {
    flex-direction: column;
  }

  .action-info {
    flex-direction: column;
    text-align: center;
  }

  .action-info-text p {
    margin-top: 20px;
  }

  .action-info-text:first-child {
    order: 1;
    text-align: center;

  }
}



@media screen and (max-width: 768px) {
  .categories-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .categories-links {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .container.front-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .izquierdad {
    grid-column: 1;
    text-align: center;
  }
}

.categories-home {
  text-align: center;
}

.img-productos-prev {
  max-width: 100%;
}

