<section class="container hero">
  <div class="row">
    <div class=" col-md-6 izquierdad">
      <h2 class="title-front-page">AVC IMPORT <br>& MERCHANDISING</h2>
      <div class="text1">
        <p class="direction">PERU-LIMA</p>
        <p class="direction">avcimport2020@gmail.com</p>
      </div>
      <div class="hr">
        <hr class="line">
      </div>
      <div class="text-2">
        <p class="text2" style="color: rgb(17, 16, 16);font-weight: 400;">Somos una empresa dedicada a la venta de articulos para la comercializacion, máquinas e insumos para sublimación.</p>
        <a href="#productos" class="categories-box-btn beauty prinic ">Nuestros productos</a>
      </div>
    </div>
    <div class="col-md-6 img">
      <img src="assets/images/logohome.png" style="z-index: 2;" class="img-tienda img-fluid">
    </div>
  </div>
</section>
<app-about-us ></app-about-us>

<article class="container action-one">


  <div class="action-info">
    <img class="fa-solid fa-magnifying-glass" src="assets/images/seach.png">
    <div class="action-info-text">
      <h4  class="center-mob" style="color: rgba(73, 126, 139, 0.938);   font-weight: 500;" >Busca tu producto</h4>
      <p>tenemos grandes catálogos de productos que te pueden gustar</p>
    </div>
  </div>


  <div class="action-info">
    <div class="action-info-text">
      <h4 class="center-mob" style="color: rgba(160, 182, 81, 0.938);  font-weight: 500;" >Elige como comprarlo</h4>
      <p>AVC te ofrece la oportunidad de contactarte con el vendedor o comprarlo directamente</p>
    </div>
    <img class="fa-solid fa-arrow-pointer" src="assets/images/cursor.png">
  </div>

</article>



<section  class="container categories-home">
  <h2>Encuentra tu producto por <br> nuestras categorias</h2>
  <hr class="line-color">
  <div class="container center categories-links">
    <div class="categories-box">
      <img class="img-productos-prev" src="assets/images/4.jpg" alt="">
      <div class="categories-box-text">
        <h3 style="color: rgb(24, 68, 50);" >PERSONALIZADOS</h3>
        <ul>
          <li>Impreso a todo color con tu diseño o logo</li>
          <li>promociona tu marca con nuestros novedosos productos </li>
          <li>obten el diseño que quieras</li>
        </ul>
        <a href="#productos" class="categories-box-btn house">Personalizados</a>
      </div>
    </div>
    <div class="categories-box">
      <img class="img-productos-prev" src="assets/images/1-A.png" alt="">
      <div class="categories-box-text">
        <h3 style="color: rgb(100, 63, 28);" >TU PROPIO NEGOCIO</h3>
        <ul>
          <li>Variedad de maquinas para la sublimacion</li>
          <li>Tecnologia avanzada</li>
          <li>Precios en Oferta</li>
          <li>Garantia Asegurada de 1 año</li>
        </ul>
        <a href="#productos" class="categories-box-btn tech">Ver Maquinas</a>
      </div>
    </div>
    <div class="categories-box">
      <img class="img-productos-prev" src="assets/images/1-m.png" alt="">
      <div class="categories-box-text">
        <h3 style="color: rgb(77, 48, 100);" >HAS UN REGALO</h3>
        <ul>
          <li>Tazas personalizadas</li>
          <li>Polos Personalizados</li>
          <li>Variedad de colores</li>
          <li>Precios en Oferta</li>
          <li>Obten tu propio estilo personalizado</li>
        </ul>
        <a href="#productos" class="categories-box-btn pets">Ver Articulos</a>
      </div>
    </div>
    <div class="categories-box">
      <img class="img-productos-prev" src="assets/images/2-A.jpg" alt="">
      <div class="categories-box-text">
        <h3 style="color: rgb(100, 28, 28);" >INSUMOS</h3>
        <ul>
          <li>Obten los mejores insumos para tu empresa de sublimacion</li>
          <li>Tazas, Polos, Gorras, Mause pad etc</li>
          <li>Precios en Oferta</li>
          <li>Garantia Asegurada</li>
        </ul>
        <a href="#productos" class="categories-box-btn beauty">Ver Productos</a>
      </div>
    </div>
  </div>
  
</section>
<br>

<article  id="productos" class="container action-one">
  <div class="action-info">
    <div class="action-info-text">
      <i class="fas fa-laptop "><h4 class="center-mob" style="color: rgba(255, 255, 255, 0.938);" >Nuestros productos <br>-Maquinas para la sublimacion</h4></i>
    </div>
  </div>
  
  
  <div class="action-info">
    <div class="action-info-text">
      <h5></h5>
      <p>Empezar un nuevo negocio suele ser confuso.
         Si esta es tu situación, no lo pienses más. Nuestras maquinas son la mejor opcion en el mercado.</p>
    </div>
  </div>
</article>
<section class="container categories-home">

<h2>Mira nuestro catalago <br> y compra tu producto de preferencia  </h2>
<hr class="line-color">
<a class="boton-catalago" href="https://wa.me/c/51912346852" target="_blank"><a class="text-catalago"  >Catalago en WhatsApp</a></a>




</section>

<app-productos></app-productos>

