<header>
  <!-- Barra de navegacion   -->
  <nav class="grey lighten-4" role="navigation">
    <div class="nav-wrapper container">
      <img class="brand-logo" src="assets/images/logo.png">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons blue-text">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="valign-wrapper"><a class="link nav-link black-text center-align" href="home">INICIO</a></li>
        <li class="valign-wrapper"><a class="link nav-link black-text center-align" href="sobre">SOBRE NOSOTROS</a></li>
        <li class="valign-wrapper"><a class="link nav-link black-text center-align" href="productosimport">PRODUCTOS IMPORT</a></li>
        <li>
          <a (click)="toggleCartPanel()">
            <div class="shopping">
              <i class='bx bxs-cart-download'></i>
              <span class="black-text" id="count-products fa-solid fa-xmark exit contador-productos">{{ totalCart}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="cart-panel sidenav" id="mobile-demo">
    <li><a class="link nav-link black-text" href="home">INICIO</a></li>
    <li><a class="link nav-link black-text" href="sobre">SOBRE NOSOTROS</a></li>
    <li><a class="link nav-link black-text" href="productosimport">PRODUCTOS IMPORT</a></li>
  </ul>

  <!-- Sidebar del carrito -->
  <div class="cart-panel container-cart-products" [ngClass]="{ 'open': isCartPanelOpen }"
  [ngClass]="shoppingCartFlat ? 'hidden-cart' : ''">
  <button class="close-btn" (click)="closeCartPanel()"><i class='bx bx-x-circle'></i></button>
    <div class="row-product">
      <div class="cart-product" *ngFor="let product of cart;">
        <div class="info-cart-product">
          <p class="titulo-producto-carrito">{{ product.title }}</p>
          <span class="precio-producto-carrito">{{ product.price | currency }}</span>
        </div>
        <div class="icon-close" (click)="removeFromCart(product)">
          <i class='bx bx-x-circle'></i>
        </div>
      </div>
    </div>
    <div class="cart-total">
      <h3 class="price">Total:&nbsp;</h3>
      <span class="total-pagar">{{ total() | currency }}<button class="boton-wsp" (click)="sendWhatsapp()"><a
            class="text-wsp"><img class="img-wsp" src="assets/images/icons-whatsapp.png"> enviar pedido por
            Whatsapp</a></button>
      </span>
    </div>
  </div>
</header>

<div class="fixed-action-btn hide-on-large-only">
  <a class="btn-floating btn-large" (click)="toggleCartPanel()">
      <div class="shopping">
        <i class='bx bxs-cart-download'></i>
        <span class="black-text" id="count-products fa-solid fa-xmark exit contador-productos">{{ totalCart}}</span>
      </div>
    </a>
</div>