<div class="contenedor-slider"> 
    <div class="slider-screen"> 
        <div class="slider"> 
            <div class="img-slider 1"> 
                <h2><img class="img-slider" src="assets/images/1.jpg"></h2> 
            </div> 
            <div class="img-slider 2"> 
                <h2><img class="img-slider" src="assets/images/2.jpg"></h2> 
            </div> 
            <div class="img-slider 3"> 
                <h2><img class="img-slider" src="assets/images/3.jpg"></h2> 
            </div> 
            <div class="img-slider 4"> 
                <h2><img class="img-slider" src="assets/images/4.jpg"></h2> 
            </div> 
            <div class="img-slider 5"> 
                <h2><img class="img-slider" src="assets/images/5.jpg"></h2> 
            </div> 
            <div class="img-slider 6"> 
                <h2><img class="img-slider" src="assets/images/6.jpg"></h2> 
            </div> 
            <div class="img-slider 7"> 
                <h2><img class="img-slider" src="assets/images/7.jpg"></h2> 
            </div> 
            <div class="img-slider 8"> 
                <h2><img class="img-slider" src="assets/images/8.jpg"></h2> 
            </div> 
        </div> 
    </div> 
</div> 





<!--Link Javascript--> 

<script src="js/slider.js"></script>