<div class="contenedor-slider"> 
    <div class="slider-screen"> 
        <div class="slider"> 
            <div class="img-slider img1"> 
                <h2><img class="img-slider" src="assets/images/1.jpg"></h2> 
            </div> 
            <div class="img-slider img2"> 
                <h2><img class="img-slider" src="assets/images/2.jpg"></h2> 
            </div> 
            <div class="img-slider img3"> 
                <h2><img class="img-slider" src="assets/images/3.jpg"></h2> 
            </div> 
            <div class="img-slider img4"> 
                <h2><img class="img-slider" src="assets/images/4.jpg"></h2> 
            </div> 
            <div class="img-slider img5"> 
                <h2><img class="img-slider" src="assets/images/5.jpg"></h2> 
            </div> 
            <div class="img-slider img6"> 
                <h2><img class="img-slider" src="assets/images/6.jpg"></h2> 
            </div> 
            <div class="img-slider img7"> 
                <h2><img class="img-slider" src="assets/images/7.jpg"></h2> 
            </div> 
            <div class="img-slider img8"> 
                <h2><img class="img-slider" src="assets/images/8.jpg"></h2> 
            </div> 
        </div> 
    </div> 
    <div class="icono-izquierdo"><i class="fas fa-chevron-left"></i></div>
    <div class="icono-derecho"><i class="fas fa-chevron-right"></i></div>
</div>
