
<section class="newProduct section">
  <div class="caja-products">
    <div class="new-content">
      <div class="row caja" *ngFor="let product of products">
        <img (click)="showDescription(product)" style="width: 500px; height: 200px; " class="img-product" [src]="'./assets/product_images/' + product.img">
        <h4>{{ product.title }}</h4>
        <h5>{{ product.caption }}</h5>
        <h6 class="price">{{ product.price | currency }} Dolares</h6>
        <button  (click)="showDescription(product)"  class="btn-add-cart">Ver detalles</button>
      </div>
    </div>
  </div>

  <div class="product-card" *ngIf="selectedProduct && isCardVisible">
    <div class="card-content">
      <button class="close-button" (click)="closeCard()">X</button>
      <h4 style="color: rgb(134, 8, 8);"  >{{ selectedProduct.title }}</h4>
      <div class="product-details">
        <div class="product-image">
          <img [src]="'./assets/product_images/' + selectedProduct.img">
        </div>
        <div class="product-description-container" style="overflow-y: auto;">
          <div class="product-description">
            <h5 style="color: rgb(8, 8, 134);"  >¿Qué Puedes Sublimar?</h5><br><h6>{{ selectedProduct.personalize }}</h6>
            <h5 style="color: rgb(8, 8, 134);"  >¿Qué incluye la máquina? </h5><br><h6>{{ selectedProduct.includes }}</h6>
            <h6>{{ selectedProduct.description }}</h6>
          </div>
        </div>
        <button (click)="addToCart(selectedProduct)" style="background-color: rgb(6, 90, 90);" class="btn-add-cart cart-boton">Agregar al carrito</button>
      </div>
    </div>
    <div class="card-overlay"></div>
  </div>
  
  
</section>



  <h2 style="text-align: center; color:black">¡Contáctanos...!</h2>
<section  class="container categories-home">
  <hr  class="line-color">
</section>
<section class="container hero">
  <div class="row">
    <div class="col-md-6 izquierdad">
      <youtube-player class="video" videoId="Fz7OFlh85hE" [height]="250" [width]="400" [startSeconds]="1"
        [endSeconds]="204">
      </youtube-player>
    </div>
    <div class="col-md-6 right">
      <div class="about-us-text">
        <br>
        <div><img class="icon" src="assets/images/d.png" alt=""></div>
        <p>LES OFRECEMOS LAS MEJORES MAQUINAS E INSUMOS PARA SUBLIMACIÓN EN PERU con 5 años de experiencia</p>
        <div><img class="icon" src="assets/images/b.png" alt=""></div>
        <p>ESTÁMOS UBICADOS EN LA AV. BOLIVIA 148 INT. 2020 C.C CENTRO LIMA, CERCADO DE LIMA.</p>
        <div><img class="icon" src="assets/images/c.png" alt=""></div>
        <p>Nuestras redes:<a class="text" target="_blank" href="https://linktr.ee/avcimport">linktr.ee/avcimport</a>
        </p>
      </div>
    </div>
  </div>
</section>
<h4 style="text-align: center; color:rgb(6, 33, 90)">Usa el mapa y encuentra nuestro local<h4>
  <div class="contact-in">
    <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.821436113886!2d-77.03712039999999!3d-12.055803899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c95de1a104ed%3A0xcc883e34f5041ee6!2sAVC%20Importaciones!5e0!3m2!1ses-419!2sco!4v1680808889875!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

