.img-product {
    width: 100% !important;
    height: 250px !important;
}

.center-text h2 {
    text-align: center;
    font-weight: 500;
    font-family: 'poppins';
}

.new-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: left;
    align-items: center;
    justify-content: center;

}

.caja {
    border: 1px solid #c2c2c2;
    width: 100%;
    height: 400px;

}

.new-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

@media (max-width: 768px) {
    .new-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .new-content {
        grid-template-columns: 1fr;
    }
}

.products {
    gap: 0rem;
    display: contents;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(168, 190, 190);
    width: 500px;
    align-items: center;
    text-align: center;
}

.row {
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px 2px #00000010;
    width: 100%;
}

.row img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}


.row h4 {
    font-size: 15px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .50s ease;
    font-family: 'poppins';
    color: #132264;
}

.row h4:hover {
    cursor: pointer;
}

.row h5 {
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'poppins';
    color: #2e2718;
    font-size: medium;
}

.row h6 {
    font-weight: 500;
    margin-bottom: 0;
    color: #005704;
}

.btn-add-cart {
    font-size: 14px;
    padding: 10px;
}

.caja-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}

.btn-add-cart {
    font-size: 16px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #ab2c2c;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: auto;
    display: flex;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.titulo {
    border-bottom: 3px solid rgb(255, 186, 106);
    color: #000000;
    font-family: 'Poppins';
    font-size: 20px;
}

.titulo .shape {
    background: rgb(255, 186, 106);
    padding: 10px 20px;
    max-width: 300px;
    position: relative;
}

.right-skew:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    display: block;
    width: 50px;
    background: rgb(255, 186, 106);
    -webkit-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    transform: skew(20deg);
}




.product-card .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.product-card .card .front,
.product-card .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.product-card .card .back {
    transform: rotateY(180deg);
}

.product-card.flipped .card {
    transform: rotateY(180deg);
}





.product-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    max-height: 100%;
}

@media (max-width: 600px) {
    .product-card {
      padding: 10px; 
    }
  }
  
  
  
  
  
  
  

.card-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #4ca8af;
    width: 100%;
    overflow-y: auto;
}

.card-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.close-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.5;
    padding: 0 6px;
    float: right;
}

.close-button:hover {
    color: #ab2c2c;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-image {
    grid-column: 1 / 2;
}

.product-description-container {
    max-height: 400px;
    overflow-y: auto;
}

.product-description {
    grid-column: 2 / 3;

}

@media screen and (max-width: 768px) {
    .product-details {
        display: block;
    }

    .product-image {
        margin-bottom: 1rem;
    }

}

.fa-solid {
    color: #0f8e44;
    width: 30px;
}

@media (max-width: 767px) {
    .about-us-text p {
        font-size: 14px;
    }
}

.ytp-cued-thumbnail-overlay-image,
.video {
    width: 100% !important;
    display: flex;
    position: relative;
}



.about-us-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    text-transform: lowercase;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.line,
.line-color {
    border: 3px solid #992f2f !important;
    margin: auto;
    width: 100%;
    color: #000 !important;
}

.hero {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.categories-home h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.categories-home hr {
    border: 3px solid black;
    width: 300px;
    margin: 20px auto;
}



.general-contact {
    padding-bottom: 200px;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: #af4c4c;
}


.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    border-radius: 12px;
    background: #255f37;
    box-shadow: 0px 0px 10px 0px #4c63af;
}


.about-us-text p {
    display: flex;
}

.icon {
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
    float: left;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.caja-contact{
    padding: 50px;
}