
<section class="container-two">
  <div class="contenedor">
    <div class="titulo">
      <div class="shape right-skew">
        <br>
        <p>Clientes Sastifechos</p>
      </div>
    </div>
  </div>
</section>

<section class="planes__container">
  <ul class="planes__tarjetas">
    <li class="tarjetas tarjetas--start">
      <h3 class="tarjetas__title">Brindando un servicio <br>óptimo y garantizado <br>para nuestros clientes</h3>
      <a class="tarjetas__contenido">
        <img class="tarjetas__precio" src="assets/images/img1.webp" alt="">
      </a>
    </li>
    <li class="tarjetas tarjetas--mega">
      <h3 class="tarjetas__title">Te enseñamos <br>a sublimar </h3>
      <div class="tarjetas__contenido">
        <img class="tarjetas__precio" src="assets/images/img2.webp" alt="">
        <div class="tar__texto">
          <p class="tarjetas__texto">Con tu primera compra obtendras una guia completa de como usar el equipo adquirido</p>
        </div>
      </div>
    <li class="tarjetas tarjetas--ultra">
      <h3 class="tarjetas__title">Certificado de garantia<br> de un año</h3>
      <a class="tarjetas__contenido">
        <img class="tarjetas__precio" src="assets/images/img3.webp" alt="">
      </a>
    </li>
  </ul>

  <section id="sobre" class="container categories-home">
    <h2>sobre nosotros</h2>
    <hr class="line-color" >
  </section>

<section class="container hero">
  <div class="conatiner row">
    <div class="col-md-6 izquierdad">
      <youtube-player class="video" videoId="Fz7OFlh85hE" [height]="250" [width]="400" [startSeconds]="1"
        [endSeconds]="204">
      </youtube-player>
    </div>
    <div class="col-md-6 right">
      <div class="about-us-text">
        <br>
        <div><img class="icon" src="assets/images/d.png" alt=""></div>
        <p>LES OFRECEMOS LAS MEJORES MAQUINAS E INSUMOS PARA SUBLIMACIÓN EN PERU con 5 años de experiencia</p>
        <div><img class="icon" src="assets/images/b.png" alt=""></div>
        <p>ESTÁMOS UBICADOS EN LA AV. BOLIVIA 148 INT. 2020 C.C CENTRO LIMA, CERCADO DE LIMA.</p>
        <div><img class="icon" src="assets/images/c.png" alt=""></div>
        <p>
          CONTÁCTANOS:
          <a class="text" target="_blank" href="https://linktr.ee/avcimport">linktr.ee/avcimport</a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="contact-in">
  <div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.821436113886!2d-77.03712039999999!3d-12.055803899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c95de1a104ed%3A0xcc883e34f5041ee6!2sAVC%20Importaciones!5e0!3m2!1ses-419!2sco!4v1680808889875!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

</div>

