<div class="containere">
  <div class="roww">
    <div class="image-containere">
      <img class="img-web"  src="assets/images/img1.webp">
    </div>
    <div class="text-containere">
      <h6 class="title-about" >Te enseñamos a <br>-sublimar</h6>
      <p style="color: rgb(68, 68, 68); font-weight: 400;
      ">Con tu primera compra obtendras una guia completa de como usar el equipo adquirido. Tambien contamos con una canal en youtube:<b>  Avc import</b> </p>
    </div>
  </div>
  <div class="roww">
    <div class="text-containere">
      <p style="color: rgb(68, 68, 68);font-weight: 400;">Sabemos que nuestro objetivo, nuestra misión es ser el líder en articulo 
        diferenciado y de valor superior y que nuestra visión no es otra que buscar la 
        <b>excelencia en el servicio y la mejor calidad </b>para nuestros clientes.
        Ser una empresa sostenible, comprometida con el mundo en el que vivimos.<br>
        <b> SOMOS TU MEJOR OPCION </b>EN MERCHANDISING DE ARTICULOS PUBLICITARIOS
        DESCARGA NUESTRO CATALAGO Y<b>  MANTENTE ACTIVO A NUESTRAS PROMOCIONES</b> </p>
    </div>
    <div class="image-containere">
      <img class="img-web" src="assets/images/img2.webp">
    </div>
  </div>
  <div class="roww">
    <div class="image-containere">
      <img class="img-web"  src="assets/images/img3.webp">
    </div>
    <div class="text-containere">
      <h6 class="title-about" >Certificado <br>de garantia de un año</h6>
      <p style="color: rgb(68, 68, 68);font-weight: 400;"> En nuestra empresa, estamos comprometidos con la satisfacción del cliente y ofrecemos un <b> certificado de garantía de un año </b> para todos nuestros productos y servicios. Creemos en la calidad de nuestro trabajo y en nuestra capacidad para brindar soluciones <b> confiables y duraderas</b> . 
        </p>
    </div>
  </div>
</div>



