.fa-solid {
    color: #0f8e44;
    width: 30px;
}
@media (max-width: 767px) {
    .about-us-text p {
      font-size: 14px;
    }
  }
  .ytp-cued-thumbnail-overlay-image, .video{
    width: 100% !important;
    display: flex;
    position: relative;
  }
.about-us-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #104481;
    margin-bottom: 1REM;
    margin-top: 0rem;
    justify-content: center;
    text-align: center;
}

.about-us-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    text-transform: lowercase;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.line, .line-color {
    border: 3px solid #0073ff !important;
    margin: auto;
    width: 100%;
    color: #000 !important;
  }
  .hero {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .categories-home h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #000000;
    font-family: 'Arial';

  }
  .categories-home hr {
    border: 3px solid black;
    width: 300px;
    margin: 20px auto;
  }



.general-contact{
    padding-bottom: 200px;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    background: #4c90af;
}


.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 12px;
    background: #255f37;
    box-shadow: 0px 0px 10px 0px #4c63af;
}

@media (max-width: 576px) {

    .tarjetas {
        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: rgb(255, 255, 255);

        width: 100%;
        max-width: 300px;

        margin-bottom: 2rem;

        border-radius: 5px;
        box-shadow: 0 2px 10px 2px #00000010;
    }

    .planes__tarjetas {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }
}

.about-us {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 7rem;
    background-image: url(https://img.freepik.com/free-psd/white-ceramic-mug-mockup-isolated_176382-1068.jpg?w=2000);
    background-position: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.about-us-left {
    flex-basis: 50%;
}

.about-us-right {
    flex-basis: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0px;
}

.about-us-text {
    margin: 0;
}

.about-us-text p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        padding-top: 30px;
    }

    .about-us-left {
        margin-bottom: 20px;
    }

    .about-us-right {
        height: auto;
        padding: 20px;
    }
    .title-about{
      font-size: 20px !important;
    }
    .roww {
      max-height: 100%;
    }
    .img-web{
      max-height: 300px;
    }
    .p-containere{
     font-size: 14px;
    }
}

.about-us-text p {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float: left;
  }
  
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}



.containere {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.roww {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1150px;
}
.img-web{
  width: 100% !important;
  height: 500px !important;
}
.text-containere {
  max-width: 50%;
  padding: 10px;
  color: #000;
  font-size: 17px;
}
.text-containere p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}
.image-containere {
  width: 50%;
}
.image-containere img {
  max-width: 100%;
  height: 100%;
}

.title-about{
  width: 100%;

}
